[general]
import = ["{{ .chezmoi.homeDir }}/.config/alacritty/catppuccin.toml"]
working_directory = "{{ .chezmoi.homeDir }}"

[terminal]
shell = "/usr/local/bin/zellij"

[env]
TERM = "xterm-256color"

[font]
size = 10.0

[font.normal]
family = "MesloLGS Nerd Font"

[mouse]
hide_when_typing = true

[window]
option_as_alt = "Both"
startup_mode = "Fullscreen"
